body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}


.header,
.hero, .footer {
    background-color: #1F2937;
}

.logo, h1 {
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

.header {
    padding: 15px 15% 0 15%;
    display: flex;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    gap: 20px;
}

a, .subtext,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    padding: 50px 15%;
    display: flex;
    gap: 40px;

}

.herotext, .container {
    flex: 1;
    align-self: center;
}

.herotext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: -10px;
}

.heroimg {
    max-width: 100%;
    align-self: center;
}


button, 
.signup {
    background-color: #3882F6;
    color: #E5E7EB;
}

button {
    padding: 5px 20px;
    border-radius: 8px;
    font-size: 18px;
}

.herobutton {
    border: none;
    align-self: flex-start;
}

.subutton {
    border-style: solid;
    border-color:#E5E7EB;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.images {
    max-width: 1000px;
    flex: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;

}

.imageblock {
    max-width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.image {
    width: 100%;
    flex: 1;
    border-radius: 20px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.qblock {
    display: flex;
    flex-direction: column;
}

figcaption {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}

.footer {
    padding: 20px 15%;
    text-align: center;
    padding: 50px;
}